* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.loader {
  position: absolute;
  height: 90%;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-item {
  position: absolute;
  width: calc(var(--i) * 2.5vmin);
  aspect-ratio: 1;
  border: 0.9vmin solid aqua;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(70deg) rotateZ(50deg);
  animation: anim 3s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.08s);
}

@keyframes anim {
  0%,
  100% {
    transform: rotateX(70deg) translateZ(50px) translateY(0);
    filter: hue-rotate(0);
  }50% {
    transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
    filter: hue-rotate(360deg);
  }
}
